/* app/styles.css */

* {
    box-sizing: border-box;
    color:#ffffff;
    background: black;
    background-color: black;
    
  }
  html,
   

    
  body {
    background: #0d1117;
  }
  h1{
    margin: 0;
    padding: 0;
    margin-top: -20rem;
    background: #0d1117;
  }
  .custom-form {
    min-width: 300px;
    max-width: 94%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 22rem 4rem;
    margin: auto;
    border-radius: 2.5rem;
    background-color:#0d1117;
    margin-top: 0rem;
  }
  .custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgb(255 255 255 / 0%), inset 5px 5px 10px rgb(0 0 0 / 0%);;
    border: 0 none;
    background: #262730;
  }
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color:#21262d;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #121212;
    cursor: pointer;
  }
  .example-card {
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    margin-bottom: 8px;
    top: 26px;
    background-color:rgba(225, 198, 198, 0.137) ;
    color:#ffffff
  }
  .example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
 
  